// Reset
* { box-sizing: border-box; }

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

main { flex: 1 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight + 200;
  margin-bottom: 0.5em;
}

p { margin-bottom: 1em; }

a {
  color: $brand-color;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

ul, ol { margin-left: 2em; margin-bottom: 1em; }

blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: 1em;
  font-style: italic;
  margin: 1em 0;
}

pre, code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #f6f8fa;
}

code { padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto;
  > code {
    border: 0;
    padding: 0;
  }
}

img { max-width: 100%; }

.wrapper {
  max-width: calc(#{$content-width} - 30px);
  margin: 0 auto;
  padding: 0 15px;
}

.tag {
  display: inline-block;
  background: $grey-color-light;
  color: $grey-color-dark;
  padding: 2px 8px;
  border-radius: 3px;
  font-size: $small-font-size;
  margin-right: 4px;
}
