// Site header
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: $grey-color-dark;

  &:hover { text-decoration: none; }
  &, &:visited { color: $grey-color-dark; }
}

.site-nav {
  float: right;
  line-height: 54px;

  .nav-trigger { display: none; }
  .menu-icon { display: none; }
  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    &:not(:last-child) { margin-right: 20px; }
  }

  @media screen and (max-width: $on-palm) {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg { fill: $grey-color-dark; }
    }

    input ~ .trigger { clear: both; display: none; }
    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      &:not(:last-child) { margin-right: 0; }
      margin-left: 20px;
    }
  }
}

// Site footer
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: 30px 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.footer-col { flex: 1; min-width: 200px; }

.social-media-list {
  list-style: none;
  margin-left: 0;
  li { display: inline; margin-right: 15px; }
  a { color: $grey-color; }
}

.feed-subscribe a { color: $grey-color; }

// Page content
.page-content {
  padding: 30px 0;
  flex: 1;
}

.post-list-heading { font-size: 28px; }

.post-list {
  margin-left: 0;
  list-style: none;

  > li { margin-bottom: 30px; }
  h3 { margin-bottom: 0; }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

// Posts
.post-header { margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @media screen and (max-width: $on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: 30px;

  h2 {
    font-size: 32px;
    @media screen and (max-width: $on-laptop) { font-size: 28px; }
  }

  h3 {
    font-size: 26px;
    @media screen and (max-width: $on-laptop) { font-size: 22px; }
  }

  h4 {
    font-size: 20px;
    @media screen and (max-width: $on-laptop) { font-size: 18px; }
  }
}
