.highlight {
  background: #f6f8fa;
  border-radius: 3px;

  .c, .cm, .c1, .cs  { color: #6a737d; font-style: italic; } // Comment
  .err                { color: #a61717; background-color: #e3d2d2; } // Error
  .k, .kc, .kd, .kn,
  .kp, .kr            { font-weight: bold; } // Keyword
  .o                  { font-weight: bold; } // Operator
  .cp                 { color: #999; font-weight: bold; } // Comment.Preproc
  .gd                 { color: #000; background-color: #fdd; } // Generic.Deleted
  .gd .x              { color: #000; background-color: #faa; }
  .ge                 { font-style: italic; }
  .gi                 { color: #000; background-color: #dfd; } // Generic.Inserted
  .gi .x              { color: #000; background-color: #afa; }
  .go                 { color: #888; } // Generic.Output
  .gp                 { color: #555; } // Generic.Prompt
  .gs                 { font-weight: bold; }
  .gt                 { color: #a00; } // Generic.Traceback
  .kv                 { color: #d14; }
  .kt                 { color: #458; font-weight: bold; } // Keyword.Type
  .m, .mf, .mh,
  .mi, .mo            { color: #099; } // Literal.Number
  .s, .sb, .sc, .sd,
  .s2, .se, .sh, .si,
  .sx, .s1, .ss       { color: #d14; } // Literal.String
  .na                 { color: #008080; } // Name.Attribute
  .nb                 { color: #0086B3; } // Name.Builtin
  .nc                 { color: #458; font-weight: bold; } // Name.Class
  .no                 { color: #008080; } // Name.Constant
  .ni                 { color: #800080; }
  .ne                 { color: #900; font-weight: bold; } // Name.Exception
  .nf                 { color: #900; font-weight: bold; } // Name.Function
  .nn                 { color: #555; } // Name.Namespace
  .nt                 { color: #000080; } // Name.Tag
  .nv, .vc, .vg,
  .vi                 { color: #008080; } // Name.Variable
  .ow                 { font-weight: bold; } // Operator.Word
  .w                  { color: #bbb; } // Text.Whitespace
  .sr                 { color: #009926; } // Literal.String.Regex
  .bp                 { color: #999; } // Name.Builtin.Pseudo
  .il                 { color: #099; } // Literal.Number.Integer.Long
}
